<div class="form">
  <%= form_with model: @content do |f| %>
  <p>
    <%= f.label :Название, class: "form-name" %>:
    <%= f.text_field :title, autofocus: true, required: true %>
  </p>
  <p>
    <%= f.submit "Сохранить" %>
  </p>
  <% end %>
</div>