<body class="recipe-content">

  <h2 class="recipe-title"><%= @dish.title %></h2>
  <nav class="recipe-nav">
    <%= link_to '<< Назад', content_path(@content), class: "callback_link" %>
  </nav>
  <main class="recipe-main">
    <article class="recipe-article">
      <h3 class="recipe-h">Ингредиенты</h3>
      <hr class="recipe-hr">
      <table class="recipe-table">
        <tr>
          <td><%= sanitize @dish.ingredients.gsub(",", "<br>") %></td>
        </tr>
      </table>
    </article>
    <section class="recipe-section">
      <h3 class="recipe-h">Инструкция приготовления</h3>
      <hr>
      <p class="recipe-text"><%= @dish.cooking_method %></p>
    </section>
  </main>
</body>