// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content {
  display: grid;
  grid-template-areas: "section article";
  grid-template-columns: 52% auto;
  grid-template-rows: 100vh;
  margin: 0;
}

.insert-image {
  grid-area: section;
  background-image: var(--background-image);
  background-repeat: no-repeat;
}

.content-title,
.dish-title,
.recipe-title,
.form-title {
  font-size: 42px;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  margin-top: 40px;
  margin-bottom: 0;
  color: var(--text-color);
  text-align: center;
}

.hr {
  width: 60%;
  color: var(--text-color);
  margin-bottom: 40px;
}

.alphabet,
.add_content {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.alphabet {
  font-size: 1.3em;
}

.content-name,
.form-name {
  font-size: 1.8em;
}

.content-add {
  font-size: 1.6em;
  text-align: center;
  margin-top: 50px;
}

.content-table {
  margin-left: auto;
  margin-right: auto;
}

.content-name {
  padding-right: 5px;
}

.content-name a {
  margin-right: 180px;
}

.content-name a,
.dish-nav a,
.recipe-nav a,
.alphabet a,
.content-add a,
.dish-image a {
  text-decoration: none;
  color: var(--table-color);
}

.content-name a:hover,
.alphabet a:hover,
.content-add a:hover,
.dish-image a:hover,
.callback_link:hover,
.form-field:hover {
  color: var(--table-hover-color);
}

.content-button {
  font-size: 12px;
  line-height: 2em;
  padding: 1px 1.2em;
}

.content-button,
.form input[type=submit] {
  display: inline-block;
  color: var(--text-button-color);
  text-shadow: 0 -1px var(--text-shadow-color);
  text-decoration: none;
  user-select: none;
  outline: none;
  border: 1px solid var(--border-button-color);
  border-radius: 6px;
  background: var(--background-button-color) linear-gradient(var(--border-button-color),
      var(--background-gradient-color));
  box-shadow:
    inset 0 1px var(--button-box-shadow-color-1),
    inset 0 0 1px var(--button-box-shadow-color-2),
    0 1px var(--button-box-shadow-color-3),
    0 0 1px var(--button-box-shadow-color-4);
}

.content-button:hover:not(:active),
.form input[type=submit]:hover:not(:active) {
  background: linear-gradient(var(--background-button-hover-color-1),
      var(--background-button-hover-color-2)) var(--background-button-hover-color-1);
}

.content-button:active,
.form input[type=submit]:active {
  top: 1px;
  background: linear-gradient(var(--background-button-active-color-1),
      var(--background-button-active-color-2)) var(--background-button-active-color-1);
  box-shadow:
    0 0 1px var(--button-active-box-shadow-color-1) inset,
    0 2px 3px var(--button-active-box-shadow-color-1) inset,
    0 1px 1px var(--button-active-box-shadow-color-2);
}